<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
      iframe {
          width:100vw;
          height:100vh;
      }
  </style>
  <body>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14129.586289061916!2d85.3168828!3d27.7050394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1ed41a8bcebc7a6c!2sNepal%20Electricity%20Authority%20-%20Head%20Office!5e0!3m2!1sen!2snp!4v1646665025059!5m2!1sen!2snp"
      loading="lazy"
    ></iframe>
  </body>
</html>
